{% trans_default_domain 'UserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" id="username" name="username" placeholder="Votre identidiant ou votre email" autofocus required/>
            </div>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-lg btn-success btn-block">Retrouver</button>
    </div>
</form>
