{% extends "base.html.twig" %}

{% block title %}
	Changement de mot de passe
{% endblock %}

{% block section %}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">
					Formulaire de changement de mot de passe
				</div>
				<div class="panel-body">
					{% include "UserBundle:ChangePassword:changePassword_content.html.twig" %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
