{% extends "base.html.twig" %}

{% block title %}
	Modifier mon profile
{% endblock %}

{% block section %}
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Modifier mon profile</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<div class="col-md-6">
							<h4>Information personnel</h4>
						</div>
						<div class="pull-right">
							<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>
								Annuler
							</a>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								{% include("UserBundle:Profile:edit_content.html.twig") %}
							</div>
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
{% endblock %}
