{% extends 'base.html.twig' %}

{% block body %}
    <h1>Symfony Rest API</h1>

    <p>
        This is a <b>REST API</b> built using <a href="https://symfony.com/" target="_blank">Symfony</a> famework,
        providing various endpoints to interact with a system (e.g., users, fames places, etc.).
        This API is secured using <i>X-Auth-Token</i>
    </p>
    <p>
        I developed this API by following the
        <a href="https://zestedesavoir.com/tutoriels/1280/creez-une-api-rest-avec-symfony-3/" target="_blank">Create a REST API with Symfony 3</a>
        tutorial by <b>Zest du Savoir</b>, to learn the essential principles of REST.
    </p>

    <p>
        Then, I upgraded it to Symfony 4 and later to Symfony 6 by following the
        <a href="https://symfonycasts.com/screencast/symfony6-upgrade/upgrade-symfony6" target="_blank">Upgrading to Symfony 6.0</a>
        tutorial by <b>Symfony Cast</b>.
    </p>

    <ul>
        <li>Source code : <a href="https://github.com/rhidja/symfony-rest-api" target="_blank">Github</a></li>
        <li>Test the api : <a href="https://127.0.0.1:8000/api" target="_blank">API</a></li>
        <li>Get Api Doc : <a href="https://127.0.0.1:8000/api/doc" target="_blank">Sweggar</a></li>
    </ul>
{% endblock %}
